# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Django db and logs
*.sqlite3
*.log

# IDE/editor stuff
.vscode/
.idea/

# Static/media (optional, if generated)
staticfiles/
media/

.idea/